
body {
  padding:2;
  margin:0;
  height:95%;
}

h2 {
  font-size: 80px;
  color: #12b499;
  text-align: center;
}


.navbar {
  padding: 10px;
  background: #84da14dc;
}

.col-5 {
  color: #000;
  margin:20px 10px 0px 10px; 
  border:solid black 1px; 
  padding: 1px;
  text-decoration: none;
}

.header {
  height: 200px;
  padding-top: 20px;
  background: #84da14dc;
}


.header h1 {
  padding: 60px;
  margin: 0;
  color: #12b499;
  text-align: center;
}


